# Task 3: Data Manipulation

In [18]:
import pandas as pd

df = pd.read_csv('data_BA.csv')
df.head()

        Month  Product    Revenue    Profit
0  2020-01-12  PayAlto   84021.66    909.11
1  2020-02-12  PayAlto  165429.59   5395.30
2  2020-03-12  PayAlto  291906.14  12144.56
3  2020-04-12  PayAlto  357797.28   5604.51
4  2020-05-12  PayAlto  375421.56   6400.34

In [19]:
# Calculate annual Revenue and Profit for each product
df["Month"] = pd.to_datetime(df["Month"])

df["Year"] = df["Month"].dt.year

table1 = df.groupby(["Product", "Year"]).agg({"Revenue": "sum", "Profit": "sum"})

print(table1)

                   Revenue      Profit
Product Year
Mobiamo 2020  3.268056e+08  6426827.26
PayAlto 2020  3.694835e+08  7762974.27

In [20]:
# Create a dictionary for product-project manager 
product_pm_dict = {'PayAlto': 'John Doe', 'Mobiamo': 'Kelly Nguyen'}

pm_product_table = pd.DataFrame(list(product_pm_dict.items()), columns=['Product', 'Project Manager'])

print(pm_product_table)

   Product Project Manager
0  PayAlto        John Doe
1  Mobiamo    Kelly Nguyen

In [21]:
# Create a new column for PM in Table1
table1["PM"] = ["John Doe", "Kelly Nguyen"]

print(table1)

                   Revenue      Profit            PM
Product Year
Mobiamo 2020  3.268056e+08  6426827.26      John Doe
PayAlto 2020  3.694835e+08  7762974.27  Kelly Nguyen

In [22]:
# Transform the table to long format
table1_long = table1.reset_index().melt(id_vars=["Product", "Year", "PM"], var_name="Metric", value_name="Value")

print(table1_long)

   Product  Year            PM   Metric         Value
0  Mobiamo  2020      John Doe  Revenue  3.268056e+08
1  PayAlto  2020  Kelly Nguyen  Revenue  3.694835e+08
2  Mobiamo  2020      John Doe   Profit  6.426827e+06
3  PayAlto  2020  Kelly Nguyen   Profit  7.762974e+06